streamlit==1.39.0
pandas==2.2.2
numpy==1.26.4
ccxt==4.3.73
neuralprophet==0.6.2
lightgbm==4.3.0
xgboost==2.1.1
plotly==5.24.1
scikit-learn==1.5.2
matplotlib==3.9.2
statsmodels==0.14.2
requests==2.32.3
pytorch-lightning==2.3.0
torch==2.3.0
tqdm==4.66.5
